#driver-details-main-background{
    background-color: black;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
#login-page-main-area{

    
    display:flex;
    flex-direction:column;
    width:80%;
    align-items:center;

}
 

.login-page-main-heading{
    margin:0 0.7rem;
    font-size:3.5rem;
    font-weight:bold;
    color:white;
}

@keyframes login-page-heading-animations-left{
    0%{
        opacity:0;
        transform : translateX(-100px);
    }
    70%{
        
        transform : translateX(10px);
    }
    100% {
        opacity:1;
        transform : translateX(0);
    }
}

.valid-input{
    border-left : 2px solid greenyellow;
    transition:0.3s ease-in-out;
}

.invalid-input{
    border-left : 2px solid rgb(230, 57, 57);
    transition: 0.3s ease-in-out;
}

#LOG{
    opacity: 0;
    animation:login-page-heading-animations-left 1.3s ease-in-out 0s;
    animation-fill-mode: forwards;
}

#IN{
    opacity: 0;
    animation:login-page-heading-animations-right 1.3s ease-in-out 0s;
    animation-fill-mode: forwards;
}
@keyframes login-page-heading-animations-right{
    0%{
        opacity:0;
        transform : translateX(100px);
    }
    70%{
      
        transform : translateX(-10px);
    }
    100% {
        opacity:1;
        transform : translateX(0);
    }
}

